$primary-color: #3498db;
$secondary-color: #2ecc71;
$margin: 16px;

.away {
  float: right;
}

::ng-deep .input-styling input {
  width: 27px !important;
}

h3,
h2 {
  color: $primary-color; // Başlık rengi
  margin-bottom: 20px; // Alt boşluk
}
