/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// Ana renkler
$page-padding: 1rem;
$secondary-color: #ddd;

// Arka plan rengi ve yazı rengi
body {
  background-color: $secondary-color; // Arka plan rengi
  padding: $page-padding; // Yazı rengi
}
