<div class="d-flex">
  <div>
    <p-table
      styleClass="p-datatable-striped"
      [value]="teams$.getValue()"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-center"><h2>Puan Durumu</h2></div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="">
          <th>Takım Adı</th>
          <th>Puan</th>
          <th>Oynanan Maç</th>
          <th>Galibiyet</th>
          <th>Beraberlik</th>
          <th>Mağlubiyet</th>
          <th>Averaj</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-team let-index="rowIndex">
        <tr
          [ngClass]="{
            'bg-danger': isLowProbability(team, index),
            'text-white': isLowProbability(team, index)
          }"
        >
          <td>{{ team.name }}</td>
          <td>{{ team.points }}</td>
          <td>{{ team.matchesPlayed }}</td>
          <td>{{ team.wins }}</td>
          <td>{{ team.draws }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ team.goalDifference }}</td>
        </tr>
      </ng-template>
    </p-table>

    <div class="m-3">
      <p-button (click)="simulateMatches()" [disabled]="isPlaying"
        >Maçları Oynat</p-button
      >
    </div>
  </div>

  <app-match-results></app-match-results>

  <!-- <app-championship-probabilities *ngIf="currentWeekIndex > 3"></app-championship-probabilities> -->

  <div style="width: 400px" *ngIf="currentWeekIndex > 3">
    <p-table
      styleClass="p-datatable-striped"
      [value]="championshipProbabilities"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-center mb-2">
          <h4>{{ currentWeekIndex }}. Hafta Şampiyonluk Tahminleri</h4>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="bg-light">
          <th>Takım Adı</th>
          <th class="probabilities">Şampiyonluk Olasılığı</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-teamProbability>
        <tr>
          <td>{{ teamProbability.team.name }}</td>
          <td class="probabilities">{{ teamProbability.probability }}%</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="m-3">
  <p-button (click)="playAllMatches()" [disabled]="isPlaying"
    >Tüm Maçları Oynat</p-button
  >
</div>
<app-all-match-results *ngIf="showMatchResults"></app-all-match-results>
